<% if logged_in? %>
  <div class="row">
    <%= render 'static_pages/valid_logged_in'%>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <%= render 'static_pages/invalid_logged_in'%>
<% end %>